<!-- Derived from the video "Python Django Tutorial: Full-Featured Web App Part 3 - Templates" Timestamp 2:30, 24:55 -->
<!-- For loop for Posts -->
{% extends "website/base.html" %}
{% block content %}
<h1>About Page!</h1>
    <article class="media content-section">
<!-- "Code derived from Python Django Tutorial: Full-Featured Web App Part 9 - Update User Profile" Tiemstamp 24:06-->
         <div class="media-body">
        <p> Greetings! Here in Ecodar we strive becoming eco-friendly easier friendly and simpler! Between or comprehensive Greenwashing/Eco news and out Community Alternatives Forum, there is something for everyone going greener!  <p>
        <img src="/media/posts/env.png" width="400" height="500">
         </div>
    </article>
{% endblock content %}