<!-- Code derived from "Python Django Tutorial: Full-Featured Web App Part 10 - Create, Update, and Delete Posts" Timestamp 14:50 -->
<!-- Derived from the video "Python Django Tutorial: Full-Featured Web App Part 3 - Templates" ...-->
<!-- ...Timestamp 2:30, 14:00, 18:30, 22:30, 31:40 -->
{% extends "website/base.html" %}
<!-- For loop for Posts -->
 <!-- Derived from the video "Python Django Tutorial: Full-Featured Web App Part 3 - Templates" Timestamp 39:30 -->
    {% block content %}
    <article class="media content-section">
<!-- "Code derived from Python Django Tutorial: Full-Featured Web App Part 9 - Update User Profile" Tiemstamp 24:06-->
<!-- Not working the image bit -->
       <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">
    <div class="media-body">
        <div class="article-metadata">
        <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>
        <small class="text-muted">{{ object.date_posted|date:"F d, Y" }}</small>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <img src="{{ object.image.url}}" alt="{{ object.title }}" width="500" height="400" >
    </div>
    </article>

<!-- Code derived "How to add Like/Unlike button to your Django Blog" -->
<!-- LIKES -->
    {% if user.is_authenticated %}
        <form action="{% url 'greenpost_like' object.id %}" method="POST">
         {% csrf_token %}

    {% if post_is_liked %}
         <button type="submit" name="greenpost_id" value="{{object.id}}" class="btn btn-info">Unlike</button>
         {% else %}
         <button type="submit" name="greenpost_id" value="{{object.id}}" class="btn btn-info">Like</button>
            {% endif %}
        </form>
    {% else %}
         <a class="btn btn-outline-info" href="{% url 'login' %}?next={{request.path}}">Log in to like this article!</a><br>
        {% endif %}
        <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>

<!-- Code derived from "Build a Blog Comment Section - Django Blog #33" Timestamp -->
<!-- Code updated from "Post Blog Comments - Django Blog #33" Timestamp 8:18 -->
<!-- Code updated from "Post Blog Comments - Django Blog #34" Timestamp 3:57 -->
<!-- Code derived from https://djangocentral.com/creating-comments-system-with-django/ -->

      <div class=col-md-8">
            <h1>Comments</h1>
          {% if not posts.greencomments.all %}
                No comments Yet <a href="{% url 'greenpost-comment' object.id %}" >
          Add here</a>
          {% else %}

          <a href="{% url 'greenpost-comment' object.id %}" >Add comments</a>
          </br></br>

            {% for greencomments in posts.greencomments.all %}
                <strong>
                    {{ greencomments.name }} -
                    {{ greencomments.created_on }}
                </strong>
                </br>
                {{ greencomments.body }}
                </br>
            {% endfor %}
          {% endif %}

      </div>

<!-- Shows which block is explicitly being close  -->
{% endblock content %}
