<!-- Code derived from "Python Django Tutorial: Full-Featured Web App Part 10 - Create, Update, and Delete Posts" Timestamp 22:45 -->
<!-- Derived from the video "Python Django Tutorial: Full-Featured Web App Part 3 - Templates" Timestamp 2:30, 24:55 -->
<!-- Derived via Python Django Tutorial: Full-Featured Web App Part 6 - User Registration Timestamp: 7:49-->
<!-- For loop for Posts -->
{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="sumbit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}