<!-- Code derived from "Python Django Tutorial: Full-Featured Web App Part 7 - Login and Logout System" Timestamp 5:51-->
{% extends "website/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset>
                <legend class="border-bottom mb-4">Log In</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="sumbit">Login</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need an account? <a class="ml-2" href="{% url 'register' %}">Sign Up Now</a>
                <br>
                Admin Access? <a class="ml-2" href="http://127.0.0.1:8000/admin"> Sign Here</a>
            </small>
        </div>
    </div>
{% endblock content %}